*{margin: 0; padding: 0; box-sizing: border-box;}

.heading{
  text-align: center;
  text-transform: capitalize;
  color: chartreuse;
  font-family: 'Sansita Swashed', cursive;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.img_div{
  display: flex;
  justify-content: center;
}
.img_div img{
  width: 100px;
  height: 150px;
  

}